body{
	background-color: gray;
}

#gallery-wrapper h1{
	font-size: 50px;
	text-align: center;
	margin-bottom: 20px;
	color: blue;
	font-family: 'Asset', cursive;
}

.image {
	float: left;
	width: 32.33%;
	padding: .5%;
}

.caption{
	position: relative;
	text-align: center;
	background-color: blue;
	width: 100%;
	color: white;
}

img {
	width: 100%;
}

.one{
	width: 32.33%;
}

.five{
	margin-top: 3.3%;
}

.four{
	margin-top: 3.3%;
}

.six{
	clear: both;
}

.extra-stuff{
	background-color: blue;
	color: white;
	float: left;
	width: 32.33%;
	font-size: 20px;
	text-align: center;
	padding: 10.75% 0;
	margin-left: .5%;
	margin-top: .5%;
}



